<h1>SAML SP Info</h1>

<%= @file_content %>


<h3>Audience/SP EntityID</h3>
<li><%= @audience %></li>

<h3>ACS/Consumer URL</h3>
<% @acsFinal.each do |url| %>
  <li><%= url %></li>
<% end %>

<h3>Single Logout URL/SLO URL</h3>
<% @sloList.each do |slo| %>
  <li><%= slo %></li>
<% end %>

<h3>SAML NameID Format</h3>
<% @nameID.each do |name| %>
  <li><%= name %></li>
<% end %>



<h3>ACS URL Validator</h3>

<% @acsUrlValidator.each do |item| %>
  <li><%= item %></li>
<% end %>


<h3>SAML Attributes</h3>
<li><%= @attribute %></li>